ACCOUNT_NAME=''
ACCOUNT_SHARED_KEY=''
CONTAINER_NAME=''
FILE_LIMIT=
MAX_CONCURRENCY=
FILE_SERVICE_BLOB_SIGNED_URL_EXPIRY_TIME=
BLOB_STORAGE_HOST=''
BLOB_CDN_HOST=''
STORAGEACCOUNTURL = ""
STORAGEACCOUNTKEY = ""
TIME_LIMIT = 
